{% extends 'base.html' %}

{% block title %}
    Post Create
{% endblock %}

{% block icerik %}

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h1 class="page-header">Post Create</h1>
            <form action="{% url 'post-create' %}" method="post">
                {% csrf_token %}
                {% for field in form %}

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                {#                        <label class="control-label" for="{{ field.id_for_label }}">#}
                                <label class="control-label">
                                    {#                            {{ field.id_for_label }}#}
                                    {{ field.label }}
                                </label>
                                {{ field }}

                                {% if field.help_text %}
                                    <span class="text-success">
                               <b>
                               {{ field.help_text }}
                                   </b>
                               </span>
                                {% endif %}

                            </div>
                            {#                    <div class="col-lg-6">#}
                            {#                        #}
                            {#                    </div>#}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="submit" value="Kaydet" class="btn btn-success pull-right">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}