{% extends 'base.html' %}
{% load static %}


{% block title %}
    Post Detail
{% endblock %}

{% block ust_icerik %}
{% endblock %}

{% block icerik %}

    <div class="row">
        <div class="col-lg-12">

            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="page-header">
                    <a href="{% url 'post-list' %}">
                        <span class="glyphicon glyphicon-circle-arrow-left"></span>
                    </a>

                    <a href="#">
                        {{ blog.title|upper }}
                    </a>
                    {#                    {% if blog.yayin_taslak == 'taslak' %}#}
                    {#                        <small class="label label-danger">{{ blog.get_yayin_taslak_display }}</small>#}
                    {#                    {% else %}#}
                    {#                        <small class="label label-success">{{ blog.get_yayin_taslak_display }}</small>#}
                    {#                    {% endif %}#}

                    <span style="font-size: 20px"> {{ blog.get_yayin_taslak_html }}
                                                    <a href="{% url 'add-remove-favorite' blog.slug %}?next={% url 'post-detail' blog.slug %}"
                                                       class="btn btn-sm btn-default">
                                    <span class="glyphicon glyphicon-star {% if request.user.username in blog.get_added_favorite_user %}active{% endif %}"></span>
                                </a>
                    </span>

                    <small class="pull-right">
                        <br>
                        <span class="glyphicon glyphicon-time"> {{ blog.created_date }}
                        </span>
                    </small>
                </h2>

                <br>
                {% if blog.image %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">

                                {#                                <img class="img-responsive" src="{{ blog.image.url }}">#}

                                <img class="img-responsive" src="{{ blog.get_image }}">
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-12">
                        <p><span
                                class="glyphicon glyphicon-user"> <b>Yazar: {{ blog.user.userprofile.get_screen_name }}</b></span>
                        </p>
                        <p class="lead">
                            {{ blog.icerik | safe }}
                        </p>

                        <p class="lead">
                            Kategoriler:{{ blog.kategoriler.all|join:',' }}

                        </p>
                    </div>
                </div>
                {% if request.user == blog.user %}
                    <div class="row">
                        <div class="col-lg-3">
                            <a class="ctn btn-primary btn-sm" href="{% url 'post-update' blog.slug %}">Güncelle</a>
                            <a class="ctn btn-danger btn-sm" href="{% url 'post-delete' blog.slug %}">Sil</a>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <h2 class="page-header">Yorumlar ({{ blog.get_blog_comment| length }})</h2>
                    <div class="col-lg-12">
                        {% for comment in blog.get_blog_comment %}
                            {#                            <div class="page-header">#}
                            {#                                <span style="font-weight: bold">{{ comment.get_screen_name }}</span>#}
                            {#                                <span style="font-weight: bold" class="pull-right">#}
                            {#                                        <span class="glyphicon-time glyphicon">{{ comment.comment_date |timesince }} önce</span>#}
                            {#                                    </span>#}
                            {#                                <p style="padding-left: 10px">{{ comment.icerik|safe }}</p>#}
                            {#                            </div>#}
                            <div class="row" style="margin-bottom: 30px;">
                                <div class="col-lg-2">
                                    <div class="col-lg-12">
                                        <img src="{{ comment.user.userprofile.get_profile_photo }}"
                                             style="height: 50px;"
                                             class="img-circle">
                                    </div>
                                </div>
                                <div class="col-lg-10" style="padding-left: 0px;">
                                    <span><b>{{ comment.user.userprofile.get_screen_name }}</b></span>
                                    <span>{{ comment.icerik }}</span>
                                    <br><span class="pull-right"><b>{{ comment.comment_date|timesince }} önce</b></span>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="row">
                    {#                    <h2 class="page-header">#}
                    {#                        Yorum Ekle#}
                    {#                    </h2>#}
                    <form action="{% url 'add-comment' blog.slug %}" method="post">
                        {% csrf_token %}
                        {{ form.media }}
                        {% for field in form %}
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="col-lg-12">
                                        <img style="height: 100px;" class="img-circle img-responsive"
                                             src="{{ request.user.userprofile.get_profile_photo }}">
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        {{ field.label_tag }}<br>
                                        {{ field }}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <span class="text-danger"><b>{{ error }}</b></span>
                                            {% endfor %}
                                        {% else %}
                                            {% if field.help_text %}
                                                <span class="text-success"><b>{{ field.help_text }}</b></span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group pull-right">
                                    <input type="submit" value="Yorum Yap" class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

